@model gongshangchaxun.Models.shichangzhutixinxi

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>shichangzhutixinxi</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.mingcheng)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mingcheng)
            @Html.ValidationMessageFor(model => model.mingcheng)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zhuceID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zhuceID)
            @Html.ValidationMessageFor(model => model.zhuceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fadingdaibiaoren)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fadingdaibiaoren)
            @Html.ValidationMessageFor(model => model.fadingdaibiaoren)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.beianxinxi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.beianxinxi)
            @Html.ValidationMessageFor(model => model.beianxinxi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.chengliriqi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.chengliriqi)
            @Html.ValidationMessageFor(model => model.chengliriqi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dengjibumen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dengjibumen)
            @Html.ValidationMessageFor(model => model.dengjibumen)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
