@model gongshangchaxun.Models.dongchandiyaxinxi

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>dongchandiyaxinxi</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diyaren)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diyaren)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dengjiID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dengjiID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dengjiriqi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dengjiriqi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dengjijiguan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dengjijiguan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beidanbaozhaiquanshue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beidanbaozhaiquanshue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.danbaofangwei)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.danbaofangwei)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.danbaoqixian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.danbaoqixian)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
