@model gongshangchaxun.Models.guquanxinxi

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>guquanxinxi</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mingcheng)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mingcheng)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chuziren)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chuziren)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zhiquanren)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zhiquanren)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.beidanbaojine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beidanbaojine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dengjiriqi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dengjiriqi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zhuangtai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zhuangtai)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
