@model PagedList.IPagedList<gongshangchaxun.Models.guquanxinxi>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title=ViewBag.biaoti;
}

<div class="listbox2"></div>
     <div class="listbox1">
         <div class="tle left">股权出质登记信息：</div>
         <div class="right">
             <a href="/"><img src="/content/images/fanhui.png" style="float:right; margin-top:1px; margin-bottom:2px; margin-right:50px; cursor: pointer;border-width:0px 0px 0px 0px;height:30px;"/></a>
         </div>
         <div class="clr"></div>
     </div>

@{  string init_search="";
    if (ViewBag.CurrentFilter == null)

    { init_search = " "; }//搜索框的初始值   
   
    else
   {
      init_search=ViewBag.CurrentFilter;
    }
 }

@using (Html.BeginForm( ))
{
    <table id="mytable2" >
        <tr>
          <td style="width:60%; text-align:right; ">
              <input type="text" id="name" name="SearchString" style="width:500px;height:33px;line-height:30px;" value="@init_search" onfocus="if(this.value==defaultValue){this.value='';}" onblur="if(!value){this.value=defaultValue;}" />
          </td>
          <td style="width:40%;margin-left:1px;" >
              <input type="submit" value=""  class="btn_s_index" />
          </td>
        </tr>
      </table>  
}
<table class="tablebox1">
    <tr>
         <th style="width:5%;">
            序号
        </th>
        <th style="width:21%;">
           股权所在公司
        </th>
        <th style="width:19%;">
            出质人
        </th>
        <th style="width:19%;">
            质权人
        </th>
        <th style="width:12%;">
            出质股权数额(万元)
        </th>
        <th style="width:12%;">
            被担保债权数额(万元)
        </th>
        <th style="width:7%;">
            登记日期
        </th>
        <th style="width:5%;">
            状态
        </th>
    </tr>
    <tbody id="abnormalListBody">
            @{int xuhao = 0; }
@foreach (var item in Model) {
    <tr>

        <td style="width:5%;">
             @{ xuhao=xuhao+1;
                        @xuhao; }
        </td>
        <td style="width:21%;">
            @Html.DisplayFor(modelItem => item.mingcheng)
        </td>
        <td style="width:19%;">
            @Html.DisplayFor(modelItem => item.chuzhiren)
        </td>
        <td style="width:19%;">
            @Html.DisplayFor(modelItem => item.zhiquanren)
        </td>
        <td style="width:12%;">
            @Html.DisplayFor(modelItem => item.jine)
        </td>
        <td style="width:12%;">
            @Html.DisplayFor(modelItem => item.beidanbaojine)
        </td>
        <td style="width:7%;">
            @Html.DisplayFor(modelItem => item.dengjiriqi)
        </td>
        <td style="width:5%;">
            @Html.DisplayFor(modelItem => item.zhuangtai)
        </td>

    </tr>
}
         </tbody>
</table>
<br />
<div style="text-align:right; margin-right:100px">
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount 页

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, currentFilter=ViewBag.CurrentFilter }) )
    
</div>   